body {
    background: url(img/banner\ background.jpg)no-repeat center center;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/* Barra de navegação */
nav {
    background-color: #41160f; /* marrom mais escuro */
    display: flex;
    justify-content: space-between; /* separa logo e links */
    align-items: center;
    padding: 15px 50px;
}

nav img{
    height: 100px;
    margin: 25px 0;
}

/* Links do menu */
nav ul {
    list-style: none;
    display: flex;
    gap: 30px;
    margin: 0;
    padding: 0;
}

nav ul li a {
    color: #f3f3f3;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    text-decoration: underline;
}

/* Rodapé */
footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #3b1a15;
    color: white;
    text-align: center;
    padding: 10px;
}
